html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.box {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.test {
	margin: 0;
	padding: 0;
	text-align: left;
}
body {
	background-color: blueviolet;
}
.box {
	display: flex;
}
